<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <p>First Drafts and Scraps of Paper</p>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
		<li><a href="index.htm">Home</a></li>
      <li><a href="firstdraftsandscrapsofpaper.htm">Rant</a></li>
      <li class="has-dropdown">
        <a href="#">Notes</a>
        <ul class="dropdown">
          <li><a href="horror_in_rpgs_links.htm">Horror in RPGs - PaizoCon 2013</a></li>
          <li><a href="horror_in_rpgs_links-2014.htm">Horror in RPGs - PaizoCon 2014</a></li>
			 <li><a href="creating_pulp_adventure_seminar_links-2014.htm">Creating Pulp Adventure - PaizoCon 2014</a></li>
        </ul>
      </li>
		<li class="has-dropdown">
		   <a href="#">Reading</a>
			<ul class="dropdown">
			   <li><a href="appendix_n.htm">Appendix N</a></li>
				<li><a href="inspirational_source_material-moldvay.htm">Moldvay D&amp;D</a></li>
				<li><a href="gmg_appendix.htm">Paizo GameMastery Guide</a></li>
				<li><a href="appendix_d.htm">DMG 5e</a></li>
				<li><a href="appendix_e.htm">PHB 5e</a></li>
			</ul>
    </ul>

    <!-- Left Nav Section -->
  </section>
</nav>
<section class="content row">
<div class="small-12 columns">
