<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <p>First Drafts and Scraps of Paper</p>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/firstdraftsandscrapsofpaper/">Home</a></li>
      <li><a href="/firstdraftsandscrapsofpaper/firstdraftsandscrapsofpaper.htm">Rant</a></li>
      <li class="has-dropdown">
        <a href="#">Notes</a>
        <ul class="dropdown">
          <li><a href="/firstdraftsandscrapsofpaper/horror_in_rpgs_links.htm">Horror in RPGs - PaizoCon 2013</a></li>
          <li><a href="/firstdraftsandscrapsofpaper/horror_in_rpgs_links-2014.htm">Horror in RPGs - PaizoCon 2014</a></li>
          <li><a href="/firstdraftsandscrapsofpaper/creating_pulp_adventure_seminar_links-2014.htm">Creating Pulp Adventure - PaizoCon 2014</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
         <a href="#">Reading</a>
         <ul class="dropdown">
            <li><a href="/firstdraftsandscrapsofpaper/appendix_n.htm">Appendix N</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/inspirational_source_material-moldvay.htm">Moldvay D&amp;D</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/appendix_c.htm">Appendix C</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/gmg_appendix.htm">Paizo GameMastery Guide</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/appendix_d.htm">DMG 5e</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/appendix_e.htm">PHB 5e</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/dogs_in_the_vineyard.htm">Dogs in the Vineyard</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/fiasco.htm">Fiasco</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/dark-matter.htm">Dark&bull;Matter</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/coc_d20.htm">Call of Cthulhu - d20</a></li>
         </ul>
      </li>
      <li class="has-dropdown">
         <a href="#">Misc.</a>
         <ul class="dropdown">
            <li><a href="/firstdraftsandscrapsofpaper/pf_compact_stat_blocks/">Compact Pathfinder stat blocks</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/geasa/">Geasa - rules</a></li>
            <li><a href="/firstdraftsandscrapsofpaper/critical/">Critical!: Go Westerly - rules</a></li>
            <li><a href="/sgnp/">Story Games Names Project</a></li>
            <li><a href="/dread_srd/">Dread - rules</a></li>
            <li><a href="http://mythendersrd.com">Mythender - rules</a></li>
         </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
  </section>
</nav>
